:root {
  --background: 0 0% 100%;
  --foreground: var(--color-zinc-950);

  --card: 0 0% 100%;
  --card-foreground: var(--color-zinc-950);

  --popover: 0 0% 100%;
  --popover-foreground: var(--color-zinc-950);

  --primary: var(--color-pink-900);
  --primary-foreground: var(--color-pink-50);

  --secondary: var(--color-pink-100);
  --secondary-foreground: var(--color-pink-900);

  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);

  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-zinc-50);

  --border: var(--color-pink-200);
  --input: var(--color-pink-200);
  --ring: var(--color-pink-900);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-50);

    --card: var(--color-zinc-950);
    --card-foreground: var(--color-zinc-50);

    --popover: var(--color-zinc-950);
    --popover-foreground: var(--color-zinc-50);

    --primary: var(--color-pink-50);
    --primary-foreground: var(--color-pink-900);

    --secondary: var(--color-pink-800);
    --secondary-foreground: var(--color-pink-50);

    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-400);

    --accent: var(--color-zinc-800);
    --accent-foreground: var(--color-zinc-50);

    --destructive: var(--color-red-900);
    --destructive-foreground: var(--color-zinc-50);

    --border: var(--color-pink-800);
    --input: var(--color-pink-800);
    --ring: var(--color-pink-300);
  }
}
